html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to bottom, #6881af, #4e8fff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


